* {
  border: none;
  border-radius: 8px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;
  min-height: 16px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: rgba(255, 255, 255, 0.2); 
}

#workspaces {
  margin-top: 6px;
  margin-left: 6px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #282828;
  /* default: background: #161320; */
  transition: none;
}

#workspaces button {
  transition: none;
  color: #fbf1c7;
  /* default: color: #b5e8e0; */
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: #fe8019;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #d65d0e;
  border-color: #d65d0e;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #fb4934;
}

#wireplumber {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f8bd96;
}

#custom-weather {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #689d6a;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #8ec07c;
}

#mdp {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #fabd2f;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #fabd2f;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #b8bb26;
}

#custom-launcher {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 6px;
  padding-left: 6px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #fe8019;
  background: #161320;
}

#custom-media, #pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f2cdcd;
}

#custom-power {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 6px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #282828;
  transition: none;
}
