@define-color darkblue #161320;
@define-color opacity rgba(255, 255, 255, 0.2);
@define-color grey #282828;
@define-color darkgrey #272727;
@define-color lightpink #fbf1c7;
@define-color orange #fe8019;
@define-color red #fb4934;
@define-color blue #b5e8e0;
@define-color green #8ec07c;
@define-color pink #bf616a;
@define-color salmon #f8bd96;
@define-color teal #689d6a;
@define-color yellow #fabd2f;
@define-color pink2 #f2cdcd;
@define-color green2 #b8bb26;

* {
  border: none;
  border-radius: 8px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;
  min-height: 16px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @opacity;
}

#workspaces {
  margin-top: 6px;
  margin-left: 6px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: @grey;
  transition: none;
}

#workspaces button {
  transition: none;
  color: @lightpink;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: @orange;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @orange;
  border-color: @orange;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @red;
}

#wireplumber {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @lightpink;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @blue;
}

#battery.critical:not(.charging) {
  background-color: @blue;
  color: @darkblue;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @pink;
    color: @blue;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @salmon;
}

#custom-weather {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @teal;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @green;
}

#mdp {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @yellow;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @yellow;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @green2;
}

#custom-launcher {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 6px;
  padding-left: 6px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: @orange;
  background: @darkgrey;
}

#custom-media, #pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @darkblue;
  background: @pink2;
}

#custom-power {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 6px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @grey;
  transition: none;
}

