@define-color	opacity-rgba rgba(40, 40, 40, 0.9);
@define-color pink #d3869b;
@define-color pink2 #ebdbb2;
@define-color dark #272727;

window {
  margin: 0px;
  border: 2px solid @pink;
  border-radius: 10px;
  background-color: @opacity-rgba;
}

#input {
  margin: 5px;
  border: none;
  color: @pink2;
  background-color: @dark;
}

#input:focus {
  box-shadow: 0px 0px 0px 1px @pink inset;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @pink2;
}

#entry:selected {
  background-color: @dark;
}
